.tickets {
  width: 400px;
  float: left;
  border: 1px solid rgba(0, 0, 0, 0.1);
}

.tickets .tickets-header {
}

.tickets .tickets-header .ticket-filters {
  height: 99px;
}

.tickets .tickets-header .ticket-filter {
  float: left;
  cursor: pointer;
  width: 72px;
  padding: 20px 30px;
  color: #666666;
  border-left: 1px solid rgba(0, 0, 0, 0.1);
}

.tickets .tickets-header .ticket-filter:first-child {
  padding-left 31px;
  border: none;
}

.tickets .tickets-header .ticket-filters .ticket-count {
  font-size: 32px;
  text-align: center;
  margin-bottom: 5px;
}

.tickets .tickets-header .ticket-filters .ticket-category {
  text-transform: uppercase;
  text-align: center;
  font-size: 11px;
  color: #999999;
}

.tickets li {
  border-top: 1px solid rgba(0, 0, 0, 0.1);
  padding: 15px 22px;
  height: 70px;
}

.tickets li .ticket-item-details {
  float: left;
  width: 280px;
  margin-top: 20px;
}

.tickets li .ticket-item-details .ticket-item-summary {
  font-style: bold;
}

.tickets li .ticket-item-details .ticket-created-by {
  color: #999999;
}


.tickets li .ticket-item-status {
  position: absolute;
  left: 98px;
  text-transform: uppercase;
  color: #d9534f; 
}

.tickets li .ticket-item-details .ticket-created-by .ticket-created-at {
  float: right;
  font-size: 11px;
}

.avatar-image {
  float: left;
  height: 60px;
  width: 60px;
  border-radius: 60px;
  -webkit-border-radius: 60px;
  -moz-border-radius: 60px;
  background: #e2e2e2;
  margin-right: 15px;
  margin-bottom: 20px;
}

.avatar-image-large {
  float: left;
  height: 80px;
  width: 80px;
  border-radius: 80px;
  -webkit-border-radius: 80px;
  -moz-border-radius: 80px;
  background: #e2e2e2;
  margin-right: 15px;
}

.ticket {
  float: left;
  padding: 20px;
  width: 825px;
}

.ticket .ticket-header {
  height: 120px;
}

.ticket .ticket-header h3 {
  font-size: 24px;
}

.ticket .ticket-header .byline {
  color: #999999; 
}

.ticket .ticket-header .actions {
  float: right;
}

.ticket .ticket-details {
  float: left;
  font-size: 16px;
}
