<header class="site-navigation sui-opt-in">
  <nav class="global-nav" data-navbar="global">
    <div class="nav-fluid-container">
      {{link-to 'Spiceworks Helpdesk' 'application' class='global-nav_brand'}}
    </div>
  </nav>
  <nav class="domestic-nav" data-sticky="true" data-navbar="domestic">
    <div class="nav-fluid-container">
      <a class="domestic-nav_brand">
        <span class="domestic-nav_title">Helpdesk</span>
      </a>
      <ul class="domestic-menus">
        <li class="domestic-menus_entry domestic-menus_dropmenu">
          <a data-toggle="dropdown">Tickets</a>
          <ul class="domestic-menus_submenu domestic-menus_submenu_items u-fade-able" data-content="nav-dropdown">
            <li><a>All</a></li>
            <li><a>Open</a></li>
            <li><a>Closed</a></li>
          </ul>
        </li>
      </ul>
    </div>
  </nav>
</header>

<div class="sui-fluid-container">
  {{outlet}}
</div>
